<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wiseasy.weblib">

    <application>
        <service
            android:name=".MainProcessHandleRemoteService"
            android:exported="false" />

        <activity
            android:name="com.wiseasy.weblib.webview.X5WebViewActivity"
            android:process=":applet" />

        <service
            android:name="com.wiseasy.weblib.webview.X5InitService"
            android:exported="false"
            android:process=":applet" />
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt"></service>
    </application>

</manifest>